.App {
  background-color: #fafafa;
  height: 100dvh;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
  gap: 20px;
}

hr{
  margin-left: 25px; 
  margin-right: 25px;
}
.padding-div{
  padding: 15px 25px;

  h5{
    color: gray
  }
}
.eachcard {
  display: flex;
  background: white;
  border-radius: 5px;
  width: 355px;
  height: 65px;
  cursor: pointer;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition: box-shadow 0.3s ease; 
}

.eachcard:hover {
  box-shadow: rgba(99, 99, 99, 0.5) 0px 8px 16px 0px; 
}
.cardImage{
  width: 80%; 
  border-radius: 50%;
   height: 100%
}
.cardName{
  font-size: 18px; 
  margin-bottom: 2px
}
.cardMail{
  font-size: 12px;
  color: slategray;
   margin: 0
}


