.App {
  background-color: #fafafa;
  height: 100dvh;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
  gap: 20px;
}

hr{
  margin-left: 25px; 
  margin-right: 25px;
}
.padding-div{
  padding: 15px 25px;

  h5{
    color: gray
  }
}



